.t-existing_insurance {
  padding: 10px 0;
}

.t-existing_insurance h3 {
  padding-bottom: 10px;
}

.t-existing_insurance-item {
  padding: 1rem 0;
}

.t-existing_insurance-block {
  padding: 2rem;
  border-radius: 0.5rem;
}

.t-existing_insurance-block:not(:last-child) {
  margin-bottom: 1rem;
}