{% from '../../imports/mock_data.html' import SAMPLE_TEMPLATE_DATA as mock_data %}

{% set template_data = template_data || mock_data %}
{% set module_data = template_data.module_data %}
{% set QUOTE = template_data.quote || mock_data.quote %}
{% set LOCALE = QUOTE.hs_locale || 'en-US' %}
{% set TIMEZONE = QUOTE.hs_timezone || 'US/Eastern' %}
{% set ASSOCIATED_OBJECTS = QUOTE.associated_objects %}
{% set LINE_ITEMS = ASSOCIATED_OBJECTS.line_items_by_start_date ? ASSOCIATED_OBJECTS.line_items_by_start_date.PRESENT : ASSOCIATED_OBJECTS.line_items %}
{% set DEAL = ASSOCIATED_OBJECTS.deal %}
{% set RECIPIENT_CONTACTS = ASSOCIATED_OBJECTS.contacts %}

{% set customobject = DEAL.associated_objects.custom_objects["_2_114893978"] || RECIPIENT_CONTACTS[0].associated_objects.custom_objects["_2_114893978"] %}

{% set remap_dict = {} %}
{% for property in module.table.property_remap %}
  {% set property_key = property.property.property %}
  {% set value_map = {} %}

  {% for newProperty in property.properties %}
    {% do value_map.put(newProperty.old_value, newProperty.new_value) %}
  {% endfor %}

  {% do remap_dict.put(property_key, value_map) %}
{% endfor %}

{% set properties_data = {} %}
  {% for i in module.table.properties %}
  {% set property_name = i.display %}
  {% set property_value = i.value|lower %}
  {% set property_info = { "name": property_name, "value": property_value } %}

  {% do properties_data.put(property_value, property_info) %}
{% endfor %}

{% for item in LINE_ITEMS %}
  {% if item.intention_innerhalb_angebot == "Empfehlung" %}
    {% do item.put("sort", 1) %}
  {% elif item.intention_innerhalb_angebot == "Alternative 1" %}
    {% do item.put("sort", 2) %}
  {% elif item.intention_innerhalb_angebot == "Alternative 2" %}
    {% do item.put("sort", 3) %}
  {% else %}
    {% do item.put("sort", 4) %}
  {% endif %}
{% endfor %}

{% set overall = {val : 0} %}

  

{% set initial_values = {} %}
{% for property in module.properties %}
  
  {% set default_value = { value: "" } %}

  {% for option in property.choices %}
    {% if DEAL[option.default.property_value] and DEAL[option.default.property_value] == option.default.choice_value %}
      {% do default_value.update({"value": option.value}) %}
    {% elif loop.first and not default_value %}
      {% do default_value.update({"value": option.value}) %}
    {% endif %}
  {% endfor %}

  {% do initial_values.put(property.value, default_value.value) %}

{% endfor %}


{% macro filter_properties(items) %}
  {% set options_map = {} %}
  <div class="property-wrapper" 
       x-data="{ 
         selectedOptions: {{ initial_values|tojson }},
         selectedLabels: {}
       }" 
       x-init="$dispatch('init-filters', selectedOptions)">
    <div class="property-wrapper-properties">
      {% for property in module.properties %}
      {# Initialize a temporary variable for the property's options #}
      {% set temp_options = [] %}

      {# Collect all values of this property from items #}
      {% for item in items %}
        {% if property.value in item %}
          {% set _ = temp_options.append(item[property.value]) %}
        {% endif %}
      {% endfor %}

      {# Update the options_map with the temporary list for this property #}
      {% do options_map.put(property.value, temp_options) %}
      
      <div class="custom-dropdown-container"
           x-data="{
             open: false,
             propertyName: '{{ property.value }}',
             toggle() {
               if (this.open) {
                 return this.close();
               }
               this.$refs.button.focus();
               this.open = true;
             },
             close(focusAfter) {
               if (!this.open) return;
               this.open = false;
               focusAfter && focusAfter.focus();
             },
             selectOption(value, label) {
               this.selectedOptions[this.propertyName] = value;
               this.selectedLabels[this.propertyName] = label;
               this.close(this.$refs.button);
               $dispatch('filter-changed', this.selectedOptions);
             },
             init() {
               // Initialize the selected label
               {% for option in property.choices %}
                 {% if option.value in options_map[property.value] %}
                   {% if DEAL[option.default.property_value] and DEAL[option.default.property_value] == option.default.choice_value %}
                     this.selectedLabels[this.propertyName] = '{{ option.Label }}';
                   {% elif loop.first and not DEAL[option.default.property_value] %}
                     this.selectedLabels[this.propertyName] = '{{ option.Label }}';
                   {% endif %}
                 {% endif %}
               {% endfor %}
             }
           }"
           x-init="init()"
           x-on:keydown.escape.prevent.stop="close($refs.button)"
           x-on:focusin.window="!$refs.panel.contains($event.target) && close()"
           x-id="['dropdown-{{ property.value }}']"
           class="relative">
        
        <!-- Dropdown Button -->
        <button
          x-ref="button"
          x-on:click="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-{{ property.value }}')"
          type="button"
          class="custom-dropdown-button"
        >
          <span x-text="selectedLabels[propertyName]"></span>
          
          <!-- Dropdown Arrow -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="dropdown-arrow">
            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
        
        <!-- Dropdown Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-{{ property.value }}')"
          x-cloak
          class="custom-dropdown-panel"
        >
          {% for option in property.choices %}
            {% if option.value in options_map[property.value] %}
              <button 
                @click="selectOption('{{ option.value }}', '{{ option.Label }}')" 
                :class="{'option-selected': selectedOptions.{{ property.value }} === '{{ option.value }}'}"
                class="custom-dropdown-option">
                {{ option.Label }}
              </button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="property-helper">
      <img src="{{ get_asset_url('../../images/arrow.svg') }}" alt="Accent arrow" class="property-helper-arrow" height="50"/>
      <p class="property-helper-text">{{ module.helper_text }}</p>
    </div>
  </div>

{% endmacro %}



{% macro remap_value(property, value) %}
  {{ value in remap_dict[property] ? remap_dict[property][value]|render : value }}
{% endmacro %}



<div class="t-table-wrapper" 
     x-data="tableApp" 
     x-init="initializeOptions()"
     @filter-changed.window="handleFilterChange($event.detail)"
     @init-filters.window="initializeFilters($event.detail)">
  <h2>
    Unsere Empfehlung für <b>{{QUOTE.hs_title|cut("Angebotsvorschlag für") }}: </b>eine
    {{ filter_properties(LINE_ITEMS) }}
  </h2>
  <p class="error-text" x-show="showError">{{ module.error_text }}</p>
  <div class="t-table" x-show="!showError">
    <div class="t-column static">
      <div class="t-cell t-select_item">
        {#Empty cell for name row#}
      </div>
      {% for i in properties_data %}
      <div class="t-cell static">
        <p>{{ i.name }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="t-table-scroll" x-ref="scrollContainer">
      {% for item in LINE_ITEMS|sort(false, false, "sort") %}
        {% if item["art_der_absicherung"] != "Haftpflichtversicherung" %}
          <div class="t-column t-filter-product {% if item["intention_innerhalb_angebot"] == "Empfehlung" %}positive{% elif item["intention_innerhalb_angebot"] == "Negativ Beispiel" %}negative{% endif %}"
              {% for property in module.properties %}data-{{property.value}}="{{ item[property.value] }}"{% endfor %}
              data-product-recommendation="{{ item["intention_innerhalb_angebot"] }}"
              x-show="isProductVisible($el)"
              >
            <div class="t-cell t-select_item t-text-center">
              <h4>{{ remap_value("intention_innerhalb_angebot", item["intention_innerhalb_angebot"]) }}</h4>
            </div>
            {% for property in properties_data %}
            {% set numTest = item[property.value]|int %} {# If this is all in one line it doesn't work #}
            <div class="t-cell dynamic">
              {% if item[property.value] == "true" or item[property.value] == "ja" %}
              <img class="t-cell-image" src="{{ module.table.image_true.src }}" width="15px" height="15px" alt="{{ module.table.image_true.alt }}">
              {% elif item[property.value] == "false" or item[property.value] == "nein" %}
                <img class="t-cell-image" src="{{ module.table.image_false.src }}" width="15px" height="15px" alt="{{ module.table.image_false.alt }}">
              {% elif numTest is integer and numTest != 0 %}
                <p>{{ item[property.value]|format_currency("de-DE", "EUR") }}</p>
              {% else %}
                <p>{{ item[property.value]|truncate(35)}}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% do overall.update({val: overall.val + 1 }) %}
        {% endif %}
      {% endfor %}
      <button class="t-table-next_button" @click="scrollNext()">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 6L15 12L9 18" stroke="#008e6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>

  {% if module.enable_select %}
    <div class="t-step">
      {{ module.step.step_1 }}
    </div>
  {% endif %}


  <div class="t-select">
    <h2>{{ module.select.title }}</h2>
    {% for item in LINE_ITEMS|sort(false, false, "sort") %}
      {% if item["art_der_absicherung"] != "Haftpflichtversicherung" %}
        <div class="t-select-product t-filter-product" 
            data-product-id="{{item["hs_object_id"]}}" 
            data-product-recommendation="{{ item["intention_innerhalb_angebot"] }}"
            data-product-recommendation-remap="{{ remap_value("intention_innerhalb_angebot", item["intention_innerhalb_angebot"])|render|trim }}"
            {% for property in module.properties %}data-{{property.value}}="{{ item[property.value] }}"{% endfor %}
            x-show="isProductVisible($el)"
            >
          <div class="t-select_item">
            <h3 id="productRecommendation">{{ remap_value("intention_innerhalb_angebot", item["intention_innerhalb_angebot"]) }}</h3>
            {% if item["intention_innerhalb_angebot"] != "Negativ Beispiel" %}
              {% if module.enable_select %}
                <button class="t-button t-button-outline" 
                        :class="{ 'active': isSelected('{{ item["hs_object_id"] }}') }"
                        @click="selectProduct('{{ item["hs_object_id"] }}', $event)">
                  <span x-show="!isLoading('{{ item["hs_object_id"] }}')">{{ module.select.button_text }}</span>
                  <span x-show="isLoading('{{ item["hs_object_id"] }}')" class="loading-spinner"></span>
                </button>
              {% else %}
                <button class="t-button t-button-outline selectable"
                        :class="{ 'active': isSelected('{{ item["hs_object_id"] }}') }"
                        @click="selectProduct('{{ item["hs_object_id"] }}', $event)">

                  <span x-show="!isLoading('{{ item["hs_object_id"] }}') && !isSelected('{{ item["hs_object_id"] }}')">{{ module.select.button_text }}</span>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" x-show="isLoading('{{ item["hs_object_id"] }}')" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="animate-spin">
                    <path d="M21 12a9 9 0 1 1-6.219-8.56"/>
                  </svg>


                  <span x-show="isSelected('{{ item["hs_object_id"] }}') && !isLoading('{{ item["hs_object_id"] }}')" class="confirmation-message">Ausgewählt</span>
                </button>
              {% endif %}
            {% endif %}
          </div>
          {% if item[module.select.internal_name] %}
            <p class="t-select_description">{{ item[module.select.internal_name] }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if module.enable_select %}
    <div class="t-step">
      {{ module.step.step_2 }}
    </div>

    <div class="t-chosen_product">
      <div class="t-your_choice">
        <div class="t-your_choice-text">{{ module.product.text }}</div>
        <div id="activeProduct" class="t-select_item">
          <h3 id="activeProductRecommendation" x-text="activeProductRecommendation"></h3>
        </div>
      </div>    
      <button id="submit" class="t-button t-button-fill" @click="submitSelection">
        <span x-show="!submitting">{{ module.product.button_text }}</span>
        <span x-show="submitting" class="loading-spinner"></span>
      </button>
      <p x-show="!selectionConfirmed">
        {{ module.product.submit_information }}
      </p>
      <p x-show="selectionConfirmed" class="confirmation-message">
        Vielen Dank für Ihre Auswahl. Wir werden uns in Kürze mit Ihnen in Verbindung setzen.
      </p>
    </div>
  {% endif %}
</div>


{% require_css %}
<style>
  .t-column.negative {
    background: {{ module.styles.negative.background_color.color }};
    color: {{ module.styles.negative.text_color.color }};
  }

  .t-column.positive {
    background: {{ module.styles.positive.background_color.color }};
    color: {{ module.styles.positive.text_color.color }};
  }

  .t-table {
    grid-template-columns: 1fr 3fr; /* Dynamicly renders columns based on the amount of Line items. This has to be at the bottom of the code!*/
  }
  .t-table-scroll {
    display: grid;
    grid-template-columns: repeat({{overall.val}}, calc(33.3%));
  }
  @media screen and (max-width: 760px) {
    .t-table {
      grid-template-columns: 1fr 2fr;
    }
    .t-table-scroll {
      grid-template-columns: repeat({{overall.val}}, calc(33.3%));
      /*Code to make columns snap into place on mobile*/
    }
  }
  @media screen and (max-width: 600px) {
    .t-table-scroll {
      grid-template-columns: repeat({{overall.val}}, calc(50%));
      /*Code to make columns snap into place on mobile*/
    }
  }

  /* Custom dropdown styles */
  .custom-dropdown-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .custom-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    color: #4a5568;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .custom-dropdown-button:hover {
    border-color: #cbd5e0;
    background-color: #f7fafc;
  }
  
  .dropdown-arrow {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    color: #718096;
  }
  
  .custom-dropdown-panel {
    position: absolute;
    left: 0;
    z-index: 50;
    min-width: 200px;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
  }
  
  .custom-dropdown-option {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    color: #4a5568;
    font-size: 14px;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .custom-dropdown-option:hover {
    background-color: #f7fafc;
  }
  
  .option-selected {
    background-color: #ebf8ff;
    color: #008e6f;
    font-weight: 500;
  }
  
  [x-cloak] {
    display: none !important;
  }
  
  .confirmation-message {
    color: #008e6f;
    font-weight: bold;
  }

  .t-button.selectable {
    height: 40px;
    width: 170px;
  }
  
  .t-button.selected {
    background-color: #008e6f;
    color: white;
  }

  .t-button.active {
    background-color: #008e6f;
    color: white;
  }
  
  /* Loading spinner animation */
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
{% end_require_css %}


{% require_js %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('tableApp', () => ({
      loadingItems: {},
      selectedItems: {},
      submitting: false,
      selectionConfirmed: false,
      activeProductId: null,
      activeProductRecommendation: '',
      selectedOptions: {},
      showError: false,
      
      initializeOptions() {
        // Initialize selected options based on dropdown initial values
        document.querySelectorAll('.property-dropdown').forEach((select) => {
          this.selectedOptions[select.name] = select.value;
        });
        
        // Apply initial filter and update active product
        this.$nextTick(() => {
          this.updateActiveProduct();
        });
      },
      
      handleFilterChange(options) {
        // Merge the new options with existing ones to ensure all filters are maintained
        this.selectedOptions = { ...this.selectedOptions, ...options };
        
        this.$nextTick(() => {
          this.updateActiveProduct();
        });
      },
      
      isProductVisible(element) {
        let matchesAllCriteria = true;
        
        for (const property in this.selectedOptions) {
          if (element.dataset[property] !== this.selectedOptions[property]) {
            matchesAllCriteria = false;
            break;
          }
        }
        return matchesAllCriteria;
      },
      
      findProductByRecommendations(recommendations) {
        for (let recommendation of recommendations) {
          let product = document.querySelector(`.t-select-product[data-product-recommendation="${recommendation}"]:not([style*="display: none"])`);
          if (product) {
            return product;
          }
        }
        return null;
      },
      
      updateActiveProduct(product) {
        {% if module.enable_select %}
        // If no product is passed, try to select the 'Empfehlung' product that is not hidden
        if (!product) {
          const recommendations = ["Empfehlung", "Alternative 1", "Alternative 2"];
          product = this.findProductByRecommendations(recommendations);
        }

        if (product) {
          this.showError = false;
          
          // Update the active product details
          const productId = product.dataset.productId;
          let productRecommendation = product.getAttribute('data-product-recommendation');

          if (product.getAttribute('data-product-recommendation-remap')) {
            productRecommendation = product.getAttribute('data-product-recommendation-remap');
          }
          
          this.activeProductId = productId;
          this.activeProductRecommendation = productRecommendation;
        } else {
          // Handle the case where all products are hidden
          this.showError = true;
        }
        {% endif %}
      },
      
      isLoading(itemId) {
        return this.loadingItems[itemId] === true;
      },
      
      isSelected(itemId) {
        return this.selectedItems[itemId] === true;
      },
      
      scrollNext() {
        const scrollContainer = this.$refs.scrollContainer;
        const snapWidth = scrollContainer.scrollWidth / scrollContainer.childElementCount;
        const currentScroll = scrollContainer.scrollLeft;
        const nextScroll = currentScroll === 0 ? snapWidth : Math.ceil(currentScroll / snapWidth) * snapWidth;
        scrollContainer.scrollTo({ left: nextScroll, behavior: 'smooth' });
      },
      
      async selectProduct(itemId, event) {
        // Set loading state
        this.loadingItems[itemId] = true;
        
        try {
          // Make API call to select line item
          const response = await fetch(`/api/quote/selectLineItem/${itemId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              quoteId: '{{ QUOTE.hs_object_id }}',
              lineItemId: itemId
            })
          });
          
          if (response.ok) {
            // Clear previous selections
            this.selectedItems = {};
            
            // Mark as selected
            this.selectedItems[itemId] = true;
            this.activeProductId = itemId;
            
            // Update active product in the UI
            const product = event.target.closest('.t-select-product');
            if (product) {
              this.updateActiveProduct(product);
            }
          } else {
            console.error('Failed to select line item:', await response.text());
          }
        } catch (error) {
          console.error('Error selecting line item:', error);
        } finally {
          // Remove loading state
          this.loadingItems[itemId] = false;
        }
      },
      
      async submitSelection() {
        if (!this.activeProductId) return;
        
        this.submitting = true;
        
        try {
          // Make API call to confirm selection
          const response = await fetch(`/api/quote/confirmSelection`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              quoteId: '{{ QUOTE.hs_object_id }}',
              lineItemId: this.activeProductId
            })
          });
          
          if (response.ok) {
            this.selectionConfirmed = true;
          } else {
            console.error('Failed to confirm selection:', await response.text());
          }
        } catch (error) {
          console.error('Error confirming selection:', error);
        } finally {
          this.submitting = false;
        }
      },
      
      initializeFilters(options) {
        // Set the initial filter values from the dropdowns
        this.selectedOptions = { ...options };
        
        // Apply initial filter and update active product
        this.$nextTick(() => {
          this.updateActiveProduct();
        });
      }
    }));
  });
</script>
{% end_require_js %}




