.property-dropdown {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none; 
  border: 0;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border-radius: 2px;
  margin: 0 3px;
  line-height: 1.5;
  padding-bottom: 2px;
  padding-right: 2rem;
  border-bottom: 2px solid #FF9700;
  font-size: 1.125rem;
  position: relative;
  font-weight: bold;
}

.property-wrapper {
  position: relative;
  display: flex;
  padding-top: 10px;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .property-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}

.property-wrapper-properties {
  display: flex;
  gap: 0.75rem;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .property-wrapper-properties {
    flex-direction: column;
  }
}

.property-helper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.property-helper-arrow {
  display: block;
  rotate: -10deg;
  overflow: auto;
}

.property-helper-text {
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  .property-helper {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .property-helper {
    flex-direction: row;
  }
  .property-helper-arrow {
    rotate: 80deg;
  }
}

.t-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.t-table {
  display: grid;
  hyphens: auto;
  grid-gap: 0px;
  position: relative;
  width: 100%;
}

.t-table-next_button {
  visibility: hidden;
  position: absolute;
  border: none;
  right: 10px;
  background: transparent;
  top: 50%;
  transform: translate(0,-50%);
  width: 40px;
  height: 40px;
}

.t-table-next_button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: auto;
}

@media screen and (max-width: 760px) {
  .t-table {
    overflow: hidden;
  }

  .t-table-scroll {
    scroll-snap-type: x mandatory;
    scroll-snap-points-y: repeat(50%));
    overflow: scroll;
    justify-content: flex-start;
  }
  .t-column {
    scroll-snap-align: start;
  }
  .t-table-next_button {
    visibility: visible;
  }
}

.t-column {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.t-cell {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
}

.t-column.static {
  border-right: 1px solid #ececec;
}

.t-cell.static {
  font-weight: bold;
}

.t-cell.dynamic {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .t-cell {
    height: 65px;
  }
}

.t-cell.t-select_item {
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-select_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.t-select_item.active {
  text-decoration: underline;
}

.t-text-center {
  text-align: center;
}

.t-select_item p {
  font-size: 10px;
}

.t-button {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #FF9700;
  padding: 5px 8px;
  font-weight: bold;
}
.t-button-fill {
  background: #FF9700;
  color: #fff;
}

.t-button-outline {
  background: #fff;
  color: #FF9700;
}

.t-button-outline:hover, .t-button-outline:active, .t-button-outline.active {
  background: #FF9700;
  color: #fff;
}

.t-step {
  width: 100%;
  display: flex;
  justify-content: center;
}

.t-select {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.t-select-product {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.t-select_description {
  display: flex;
  gap: 10px;
  flex: 1;
  align-items: center;
}

.t-chosen_product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.t-your_choice {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.t-your_choice-text {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 3px;
}

.error-text {
  display: none;
}

@media screen and (max-width:760px) {
  .t-select_description {
    flex-direction: column;
  }
}

@media print {
  .t-button, .t-step, .t-chosen_product {
    display: none;
  }
  .t-table {
    gap: 15px;
  }
}